.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: var(--gray);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 20px var(--cyan);
  transform: scale(1.05);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: url('https://i.pinimg.com/1200x/57/c9/3f/57c93f35c80a018b443cbc0de883cc1d.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/* Para dar contraste ao container */
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.85); /* fundo semi-transparente */
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
